body {
    font-family: Helvetica;
    overflow-x: hidden;
}

#filter-box {
    position: absolute;
    z-index: 1090;
    margin-top: -70px;
    margin-left: 90px;
    
}

.form-control:focus {
    border-color: #5CB85F;
    box-shadow: 0 0 0 0.25rem rgba(201, 231, 202, 1);

}

.background-filter {
    background-color: rgba(0,0,0,.5);
    height: 100vh;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}


/* Navbar Start */

.bg-all {
    background-color: #F1F3FF;
}

.bg-btn {
    background-color: #5CB85F;
    color: white;
}

.navbar-loc {
    margin: 0% 6%;
}

.brand {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
    margin-left: 6%;
}

.off-navbar {
    width: 50%;
}

.tittle {
    font-size: 36px;
    font-weight: bold;
    padding-top: 25%;
}

.content {
    font-size: 14px;
    padding-right: 80px;
}


/* Navbar End */

/* Header Start */

.grid-left {
    padding-top: 5%;
    padding-left: 12%;
}

.grid-right {
    padding-left: 3.5%;
}

.car-img {
    max-width: 100%;
}


/* Header End */

/*Bagian Tablet*/

@media (max-width: 900px) {
    /*==Car==*/
    .tulisan-car {
        position: relative;
        padding-left: 3%;
    }
    .car-img {
        position: relative;
        width: 110%;
        height: 95%
    }

    /*==Footer==*/
    .footer {
        padding-left: 2%;
    }
}