
.body {
    font-family: Helvetica;
  }
  
  
  /* Navbar Start */
  .bg-all {
    background-color: #F1F3FF;
  }
  
  .bg-btn {
    background-color: #5CB85F;
    color: white;
  }
  
  .navbar-loc {
    margin: 0% 6%;
  }
  
  .brand {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
    margin-left: 6%;
  }
  
  .off-navbar {
    width: 50%;
  }
  
  .tittle {
    font-size: 36px;
    font-weight: bold;
    padding-top: 25%;
  }
  
  .content {
    font-size: 14px;
    padding-right: 80px;
  }
  /* Navbar End */
  
  
  /*=========================================================*/
  /*=========================================================*/
  
  
  /* Header Start */
  .grid-left {
    padding-top: 5%;
    padding-left: 12%;
  }
  
  .grid-right {
    padding-left: 3.5%;
  }
  
  .car-img {
   max-width: 100%;
  }
  /* Header End */
  
  
  
  /*=========================================================*/
  /*=========================================================*/
  
  /* Our Service Start */
  .grid-service {
    margin-top: 6%;
  }
  
  .size-service {
    width: 459px;
    height: 428px;
  }
  
  .grid-best {
    padding-left: 10%;
  }
  
  .icon-tick {
    color: #1434d4;
    font-size: 20px;
    background-color: #CFD4ED;
    width: 30px;
    height: 30px;
  }
  /* Our Service End */
  
  
  /*=========================================================*/
  /*=========================================================*/
  
  
  /* Why Us Start */
  .grid-whyus {
    margin-top: 100px;
  }
  
  .icon-promotion {
    height: 100%;
  }
  
  .why-us {
    padding-top: 100px;
  }
  
  .why-text p {
    font-size: 14px;
  }
  
  .why-text .card {
    border-radius: 8px;
  }
  
  .height-card {
    height: auto;
  }
  /* Why Us End */
  
  
  /*=========================================================*/
  /*=========================================================*/
  
  /* Testimonial */
  .testimoni{
    background-color: #F1F3FF;
    width: 600px;
    height: 270px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }
  /* Testimonial End */
  /* .carousel-body{
    height: 100%;
    width: 100%; 
    background-color: #F1F3FF;
    border-radius: 13px;
    position: relative;
    padding-top: 3%;
   
  } */
  /* 
  .img-text {
    width: 100%;
    height: 270px;
    display: block;
    padding-left: 130px;
    padding-top: 45px;
    background: #F1F3FF;
    border-radius: 8px;
  }
  
  .img-text p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  
  .single-box {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    float: right;
  }
  
  .img-area {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 100px;
    left: 25px;
  }
  
  .img-area img {
    width: 100%;
  }
  
  .carousel-indicators {
    bottom: -40px;
  }
  
  .carousel-indicators .active {
    background: #5CB85F;
    color: white;
    border-color: 0;
  } */
  
  
  /*=========================================================*/
  /*=========================================================*/
  
  
  /* Sewa mobil dilokasimu */
  .grid-rentcar {
    background-color: #0D28A6;
    border-radius: 13px;
  }
  /* Sewa mobil dilokasimu end*/
  
  
  /*=========================================================*/
  /*=========================================================*/
  
  
  /* FAQ */
  .display-accor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* FAQ End */
  
  
  
  
  /*=========================================================*/
                    /*---MEDIA QUERY--*/
  /*=========================================================*/
  
  /*Bagian Mobile */
  
  @media only screen and (min-width: 120px) and (max-width: 767px) {
  
  /* .tulisan-car{
    position: relative;
    text-align:left;
  } */
  
    /*==Our service img==*/
    .Our-service-img {
      width: 90%;
      height: 90%;
    }
  /* .tulisan-our-service{
    position: relative;
    text-align:left;;
  } */
  
  
   /*==Why Us==*/ 
    .grid-service1 {
      margin-top: 8%;
    }
    .Whyus {
      text-align: center;
    }
  
    /*==Testimoni==*/
    .testimoni{
      position: relative;
      width: 150%;
      height: 150%;
  
  }
  .bintang{
    position: relative;
    padding-top: 10%;
    max-width: 100%;
    margin-left: 28%;
    padding-bottom: 5%;
  }
  .T-img{
  align-items: center;
  position: relative;
  padding-top: 0%;
  padding-left: 30%;
  padding-right: 28%;
  margin-left: -20%;
  }
  
  
  
    /*==FAQ==*/
    .faq {
      text-align: center;
      }
  
    /*==Footer==*/
    .footer {
      padding-left: 1%;
    }
  }
  /* .testitext{
    position: relative;
    text-align:left;
    padding-top: 8%;
    padding-bottom: 5%;
    font-size: 100%; 
  } */
  
    
    /* #carousel-body{
      height: 100%;
      width: 100%; 
      background-color: #F1F3FF;
      border-radius: 10px;
      position: relative;
      padding-top: 3%;
      margin-left: 2.5%;
  }
  
  
  
  
  /*=========================================================*/
  /*=========================================================*/
  
  
  
  /*Bagian Tablet*/
  @media only screen and (min-width: 768px) and (max-width: 900px){
   
  
  /*==Car==*/
  .tulisan-car{
    position: relative;
    padding-left: 3%;
  }
  .car-img{
    position: relative;
    width: 110%;
    height: 95%
  }
  
  
    /*==Our service img==*/
    .Our-service-img {
      width: 70%;
      height: 88%;
    }
  
  
   /*==Why Us==*/ 
    .grid-service1 {
      margin-top: 5%;
    }
    .Whyus {
      text-align: center;
    }
   
  
  /*==Testimoni==*/
  .testimoni{
      position: relative;
      width: 100%;
      height: 100%;
  }
  .bintang{
    position: relative;
    padding-top: 10%;
    max-width: 150%;
    margin-left: 53%;
    padding-bottom: 5%;
  }
  .T-img{
  align-items: center;
  position: relative;
  padding-top: 0%;
  padding-left: 28%;
  padding-right: 30%;
  text-align: auto;
  }
  
   /*==FAQ==*/
   .faq {
    text-align: center;
    }
  
    /*==Footer==*/
    .footer {
      padding-left: 1%;
    }
  }
  
  